<div class="tform">
<%= simple_form_for(track) do |f| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label 'Bed time' %>
    <%= f.time_select :bedtime %>
  </div>

  <div class="field">
    <%= f.label 'Wake time' %>
    <%= f.time_select :waketime %>
  </div>

  <div class="field">
  <%= f.input :hours, placeholder: 'Number of hours e.g. 2.5' %>
  </div>

  <div class="field">
    <p>Please rate your mood. 1 for "I feel like crap". 5 for "I'm well rested."</p>
    <%= f.input :mood, as: :radio_buttons,
    collection: [1, 2, 3, 4, 5], wrapper: :vertical_radio_and_checkboxes %>
  </div>


  <div class="field">
    <p>How productive were you today? 1 for "I did shit today". 5 for "I'm soaring."</p>
    <%= f.input :productivity, as: :radio_buttons,
    collection: [1, 2, 3, 4, 5], wrapper: :vertical_radio_and_checkboxes %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div>
</div>
