<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @track.date %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @track.mood %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @track.hours %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @track.productivity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @track.notes %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
