<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wiki.body %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>

<div id="comments">
   <h2><%= @wiki.comments.count %> Comments</h2>
   <%= render @wiki.comments %>

   <h3>Add a Comment</h3>
   <%= render "comments/form" %>
 </div>
