<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Hours Slept Per Day');
        data.addColumn('number', 'Number of Days');
        data.addRows([
          ['5 hours', 3],
          ['4 hours', 1],
          ['8 hours', 4],
          ['6 hours', 5],
          ['7 hours', 2]
        ]);

        // Set chart options
        var options = {'title':'Sleeping Hours',
                       'width':500,
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->


<p id="notice"><%= notice %></p>


<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                      Welcome!
                    </a>
                </li>
                <li>
                  <%= link_to "Your Profile", edit_user_registration_path %>
                </li>
                <li>
                    <a href="#">New Log</a>
                </li>
                <li>
                    <a href="#">Tracking</a>
                </li>
                <li>
                    <%= link_to "Sleep Wiki", wikis_path %>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">FAQs</a>
                </li>
                <li>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="tcontainer">
                      <h1>Tracking My Sleep</h1>

                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Bed Time</th>
                            <th>Wake Time</th>
                            <th>Mood</th>
                            <th>Hours</th>
                            <th>Productivity</th>
                            <th>Notes</th>
                            <th>Edit Log</th>
                            <th>Delete Log</th>
                            <th colspan="3"></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @tracks.each do |track| %>
                            <tr>
                              <td><%= track.date %></td>
                              <td><%= track.bedtime %></td>
                              <td><%= track.waketime %></td>
                              <td><%= track.mood %></td>
                              <td><%= track.hours %></td>
                              <td><%= track.productivity %></td>
                              <td><%= track.notes %></td>
                              <td><%= link_to 'Edit', edit_track_path(track) %></td>
                              <td><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>

                      <br>

                      <%= link_to 'New Log', new_track_path %>
                      </div>

                      <br>

                      <div class="trcontainer">
                        <div id="chart_div"></div>

                        <div class="rowf">
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                        </div>
                        <div class="rowf">
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                        </div>
                        <div class="rowf">
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                        </div>
                        <div class="rowf">
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                          <div class="colf">Text</div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

<%= link_to 'New Log', new_track_path %>
<p id="notice"><%= notice %></p>
</body>
</html>
